<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>kisan_bazzar</display-name>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.shetkari_bazzar.filters.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>admin</servlet-name>
    <servlet-class>com.shetkari_bazzar.controller.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>pravin.sarode301@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <param-name>subSuperAdminRole</param-name>
    <param-value>SUB-SUPERADMIN</param-value>
  </context-param>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
E:\bazzar_shetkari\uploads\
 </param-value>
  </context-param>
  <context-param>
    <param-name>AcccessDenied</param-name>
    <param-value>Acccess Denied !</param-value>
  </context-param>
  <context-param>
    <param-name>SuperAdminJsp</param-name>
    <param-value>jsp/SuperAdmin</param-value>
  </context-param>
  <context-param>
    <param-name>UsersJsp</param-name>
    <param-value>jsp/UsersPanel</param-value>
  </context-param>
  <context-param>
    <param-name>SuperAdminResources</param-name>
    <param-value>jsp/SuperAdmin/</param-value>
  </context-param>
  <context-param>
    <param-name>UsersResources</param-name>
    <param-value>jsp/UsersPanel/</param-value>
  </context-param>
  <context-param>
    <param-name>sessionUser</param-name>
    <param-value>xxx</param-value>
  </context-param>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <error-page>
    <exception-type>java.lang.NullPointerException</exception-type>
    <location>/jsp/Admin/page-video.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.NumberFormatException</exception-type>
    <location>/jsp/Admin/page-video.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/jsp/Admin/pageNotfoundError.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>jsp/UsersPanel/index.jsp</welcome-file>
  </welcome-file-list>
</web-app>